/* styles.css */

/* General Styling */
.root {

}

.initial-scene {
    -fx-background-color: #ecf0f1;
    -fx-padding: 15px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.table-box {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #000000;
    -fx-border-width: 0.3px;
    -fx-border-radius: 4px;
    -fx-alignment: center;
}

.settings-box {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #000000;
    -fx-border-width: 0.3px;
    -fx-border-radius: 4px;
    -fx-alignment: center;
}

.statistics-box {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #000000;
    -fx-border-width: 0.3px;
    -fx-border-radius: 4px;
    -fx-alignment: center;
}

.clock-box {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #000000;
    -fx-border-width: 0.3px;
    -fx-border-radius: 4px;
    -fx-alignment: center;
}

/*  */
.title-pane {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: #219611;
}
/*  */
.settings-label {
    -fx-font-size: 14px;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: #000000;
}
/*  */
.settings-title {
    -fx-font-size: 16px;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;

}

.label-waitingTime {
    -fx-font-size: 20px;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.label-table {
    -fx-font-size: 14px;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: #000000;
}

.label-clock {
    -fx-font-size: 45px;
    -fx-font-family: "Palatino Linotype";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

/* Button Styling */
.button {
    -fx-background-color: #fffcff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-border-color: #330066;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #330066;
    -fx-text-fill: #fffcff;
}
.button:pressed {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #FFFFFF;
}